<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">

<dom-module id="convocatorias-observaciones">
    <template>
        <style include="bootstrap4-styles">
            :host {
                display: block;
                padding: 1rem;
            }

            .cont {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }
        </style>

        <iron-ajax id="ajaxObservaciones" auto url="{{urlObservaciones}}" handle-as="JSON" last-response="{{jsonObservaciones}}"
            loading="{{loadingObservaciones}}"></iron-ajax>

        <template is="dom-if" if="[[hasObservaciones]]">
            <div class="card border-danger">
                <div class="card-body">
                    <h5 class="card-title text-center">Observaciones</h5>
                    <p class="card-text text-center">
                        Número:
                        <span class="text-muted"> [[dataObservaciones.records]]</span>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <template is="dom-repeat" items="[[dataObservaciones.rows]]">
                        <li class="list-group-item">
                            <div class="form-group row">
                                <label class="col-md-2 text-muted">[[item.fecha_registro]]</label>
                                <div class="col-md-8">
                                    [[item.observacion]]
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>
                <div class="card-body">

                </div>
            </div>
        </template>
        <template is="dom-if" if="[[!hasObservaciones]]">

        </template>
    </template>

    <script>
        /**
         * `convocatorias-observaciones`
         * WebComponent para el proyecto de convocatorias, para listar las observaciones de la propuesta
         *
         */
        class ConvocatoriasObservaciones extends Polymer.Element {
            static get is() { return 'convocatorias-observaciones'; }
            static get properties() {
                return {
                    idResponsable: {
                        type: Number
                    },
                    urlObservaciones: {
                        type: String,
                        readOnly: true,
                        computed: '_urlObservacionesComputed(idResponsable)'
                    },
                    hasObservaciones: {
                        type: Boolean,
                        value: false,
                        readOnly: true,
                        computed: '_hasObservacionesComputed(dataObservaciones)'
                    },
                    jsonObservaciones: {
                        type: Array,
                        observer: '_jsonObservacionesObserver'
                    },
                    dataObservaciones: {
                        type: Array,
                        readOnly: true
                    }

                };
            }

            _urlObservacionesComputed(idResponsable) {
                if (idResponsable) {
                    return `https://intraug.ugto.mx/Convocatoria/Responsable/DataObservaciones?id_responsable=${idResponsable}`;
                    // return `https://www.colmena.ugto.mx/Convocatoria/Responsable/DataObservaciones?id_responsable=${idResponsable}`;
                    // return App.Config.apppath + `/Responsable/DataObservaciones?id_responsable=${idResponsable}`;
                }
            }
            _hasObservacionesComputed(dataObservaciones) {
                if (dataObservaciones && dataObservaciones.records > 0) {
                    return true;
                }
                else {
                    return false;
                }
            }
            _jsonObservacionesObserver(jsonObservaciones) {
                if (jsonObservaciones) {
                    // console.log('_jsonObservacionesObserver', JSON.parse(jsonObservaciones));
                    this._setDataObservaciones(JSON.parse(jsonObservaciones));
                }
            }
        }

        window.customElements.define(ConvocatoriasObservaciones.is, ConvocatoriasObservaciones);
    </script>
</dom-module>